body{
    background-color: #010f35;
}
.navbar-light .navbar-nav .nav-link{
    color: aliceblue;
}


#name{
    
    font-family:'Fugaz One', cursive;
    justify-content: center;
    color: aliceblue;
    

}
h1{
    font-size: 50pt;
}

    
/*avatar photo of me*/
#photoMe {
 display: flex;
 justify-content: center;  
 margin: 20px 20px;
 border-radius: 20px ;

}



#aboutme {
    
    font-size: 20pt;
    font-family:monospace;
    color: rgb(255, 255, 255);
    font-family:'Hahmlet', serif;
    padding: 40px;
    
}
  

#mywork{
    font-family:'Hahmlet', serif;
    font-size: 20pt;
    color: rgb(255, 249, 249);
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
    padding: 40px;

    
  

} 

h5{ color: black;}

#contactme{
    
    padding: 40px;
   
}

/*Header inside contact me section*/
#contactme h2{
    font-size: 20pt;
    font-family:'Hahmlet', serif;
    text-align: left;
    color: rgb(255, 255, 255);

}

/*unordered list inside contact me section*/

#footer{
    text-align: center;
    color: aliceblue;
}

a{
    color: rgb(255, 255, 255);
}

/*media queries*/
@media screen and (min-width: 450px)
{


    #aboutme {
        background-color:  #DD517F;
    }

    #mywork{

        background-color: #E68E36 ; 
    
    }
    
    #contactme {
        background-color: #556DC8;
    }
    
}


/*media queries*/
@media screen and (max-width: 768px)
{


    #aboutme {
        background-color: rgb(62, 206, 158);
    }

    #mywork{

        background-color: rgb(32, 145, 238); 
    
    }
    
    #contactme {
        background-color: rgb(133, 131, 238);
    }

    #mywork {
        flex-direction: column;
    }
    
}
