
/*Hi , my name is */
#name{
    
    font-family:'Hahmlet', serif;
    justify-content: center;
    color: #F67280;
    font-size: 70pt;

}

/*avatar photo of me*/
#photoMe {
 display: flex;
 justify-content: center;  
}

.container-fluid{


    color: whitesmoke;
}


#aboutme {
    
    font-size: 20pt;
    font-family:monospace;
    color: rgb(0, 0, 0);
    font-family:'Hahmlet', serif;
    padding: 40px;
    
}
  

#mywork{
    font-family:'Hahmlet', serif;
    font-weight: bolder;
    font-size: 20pt;
    color: black;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
    padding: 40px;

    
  

} 

#contactMe {

    display: inline-block;
    font-size: 20pt;
    padding: 30px;
    padding: 40px;
   
}

/*Header inside contact me section*/
#contactme h2{
    font-size: 20pt;
    font-family:'Hahmlet', serif;
    font-weight: bolder;

}

/*unordered list inside contact me section*/

#footer{
    text-align: center;
    
}

a{
    color: rgb(0, 0, 0);
}

/*media queries*/
@media screen and (min-width: 450px)
{


    #aboutme {
        background-color:  #C06C84;
    }

    #mywork{

        background-color: #6C5B7B; 
    
    }
    
    #contactme {
        background-color: #F8B195;
    }
    
}


/*media queries*/
@media screen and (max-width: 768px)
{


    #aboutme {
        background-color: rgb(79, 230, 179);
    }

    #mywork{

        background-color: rgb(32, 145, 238); 
    
    }
    
    #contactme {
        background-color: rgb(133, 131, 238);
    }

    #mywork {
        flex-direction: column;
    }
    
}
